.sidebar{
  background: #191919;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.28);
  z-index: 900;
  .logo{
    height: 100px;
    display: flex;
    align-items: center;
  }
  .icons{
    &>div{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: transparent;
      min-width: 90px;
      transition: all .3s ease-in-out;
      svg{
        path,polygon,circle {
          fill: #43444B;
          transition: all .3s ease-in-out;
        }
      }
    }
    &>div.active, &>div:hover{
      background: #2A2B31;
      svg{
        path,polygon,circle{
          fill: white;
        }
      }
    }
  }
  .message{
    height: 100px;
    display: flex;
    align-items: center;
    &>div{
      width: 34px;
      height: 34px;
      border-radius: 2px;
      background: #4C4D55;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &:before{
        content: attr(data-notif);
        position: absolute;
        top: -7.5px;
        right: -7.5px;
        height: 15px;
        width: 15px;
        background: #7AC231;
        color: #ffffff;
        border-radius: 50%;
        font-size: 11px;
        text-align: center;
        line-height: 15px;
      }
    }
  }
}

